networks:
  web:
    external: true

services:

  stirling-pdf:
    image: frooodle/s-pdf:latest
    container_name: stirling-pdf
    networks:
      - web
    #ports:
    #  - '8080:8080'
    volumes:
      - {{ root }}/trainingData:/usr/share/tessdata #Required for extra OCR languages
      - {{ root }}/configs:/configs
#      - ./customFiles:/customFiles/
#      - ./logs:/logs/
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - INSTALL_BOOK_AND_ADVANCED_HTML_OPS=false
      - LANGS=de_DE #en_GB
    labels:
      - traefik.enable=true
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-service.loadbalancer.server.port=8080
      
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ stirling_pdf_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.service=${COMPOSE_PROJECT_NAME}-service
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.middlewares=crowdsec,basic-auth-all

      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-lan.rule=Host(`{{ stirling_pdf_domain | mandatory }}`) && HeaderRegexp(`X-Real-Ip`, `(^127\.)|(^10\.)|(^172\.1[6-9]\.)|(^172\.2[0-9]\.)|(^172\.3[0-1]\.)|(^192\.168\.)`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-lan.service=${COMPOSE_PROJECT_NAME}-service
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-lan.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-lan.middlewares=lan-only