- name: copy systemd unit
  ansible.builtin.template:
    src: "{{ role_name }}.service.j2"
    dest: "/etc/systemd/system/{{ role_name }}.service"
    owner: root
    group: root
    mode: "644"
  notify: restart {{ role_name }}.service

- name: create /data/{{ role_name }} dir
  ansible.builtin.file:
    path: "{{ root }}"
    state: directory

- name: Copy templates
  ansible.builtin.import_tasks: copy-all-templates.yml
  vars:
    directory: ../templates
    notify_handlers: restart {{ role_name }}.service

- name: Replace placeholder with var
  ansible.builtin.replace:
    path: "{{ root }}/config/notifications/discord.yaml"
    regexp: 'webhookURL'
    replace: "{{ vault_crowdsec_discord_webhook }}"

- name: start {{ role_name }}.service
  ansible.builtin.systemd:
    state: started
    daemon_reload: true
    enabled: true
    name: "{{ role_name }}.service"
  register: crowdsec_started
