networks:
  web:
    external: true

services:
  app:
    image: pihole/pihole:latest
    hostname: pihole
    container_name: pihole
    networks:
      - web
    ports:
      - 53:53/tcp
      - 53:53/udp
      #- 67:67/udp # Only required if you are using Pi-hole as your DHCP server
      - 9090:80/tcp
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/data:/etc/pihole
      - {{ root }}/dnsmasq.d:/etc/dnsmasq.d
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ pihole_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.tls=true
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-app.loadbalancer.server.port=80
      - traefik.http.middlewares.pihole-admin.addprefix.prefix=/admin
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.middlewares=pihole-admin
