users:
    {{ dozzle.user1.name }}:
        email: {{ dozzle.user1.mail }}
        name: {{ dozzle.user1.name }}
        password: $2a$10$0wMx2A.N0.8eNLGCrcraLOBWxWztFBgHfxeWRNzTUBbd7CQGrrkwG
        filter: ""

    {{ dozzle.user2.name }}:
        email: {{ dozzle.user2.mail }}
        name: {{ dozzle.user2.name }}
        password: $2a$10$ljJ6VR7MNuVpkVPWg6LF4eEvp.GVy.538BfBxczDoIyeAIhu09Hmq
        filter: "name=shishacounter"
