networks:
  web:
    external: true

services:
  app:
    image: openspeedtest/latest
    container_name: openspeedtest
    ports:
      - '7070:3000'
      - '7071:3001'
    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ openspeedtest_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.middlewares=lan-only
    