networks:
  web:
    external: true

services:
  app:
    image: louislam/uptime-kuma:latest
    networks:
      - web
    hostname: "{{ role_name }}_{{ inventory_hostname }}"
    container_name: {{ role_name }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/data:/app/data/
    #ports:
    #  - 3001:3001
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ uptimekuma_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.middlewares=crowdsec
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.middlewares={{ uptimekuma_traefik_middleware }}
