networks:
  default:

services:

  app:
    ports:
      - '9001:9001'
    container_name: portainer_agent
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - '/var/run/docker.sock:/var/run/docker.sock'
    image: 'portainer/agent:2.19.0'