networks:
  default:
  web:
    external: true

services:

  app:
    image: lscr.io/linuxserver/smokeping:latest
    container_name: smokeping
    networks:
      - web
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/config:/config
      - {{ root }}/data:/data
    #ports:
    #  - 9090:80
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ smokeping_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-app.loadbalancer.server.port=80
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.tls=true