- name: Create root directory
  ansible.builtin.file:
    path: "{{ target | default(root) }}"
    state: directory
    mode: '755'
  notify: "{{ notify_handlers | default(omit) }}"

- name: Create directories
  ansible.builtin.file:
    path: "{{ target | default(root) }}/{{ item.path }}"
    state: directory
    mode: '755'
  when: item.state == 'directory'
  with_community.general.filetree: "{{ directory }}"
  loop_control:
    label: "{{ item.path }}"
  notify: "{{ notify_handlers | default(omit) }}"

- name: Copy non-template files
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ target | default(root) }}/{{ item.path }}"
    mode: '664'
  when:
    - item.state == 'file'
    - not item.path.endswith('.j2')
    - item.path | basename != '.gitignore'
    - item.path | basename != '.DS_Store'
  with_community.general.filetree: "{{ directory }}"
  loop_control:
    label: "{{ item.path }}"
  notify: "{{ notify_handlers | default(omit) }}"

- name: Copy template files
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ target | default(root) }}/{{ item.path | regex_replace('\\.j2$', '') }}"
    mode: '664'
    lstrip_blocks: true
  when:
    - item.state == 'file'
    - item.path.endswith('.j2')
    - item.path | basename != '.gitignore'
    - item.path | basename != '.DS_Store'
  with_community.general.filetree: "{{ directory }}"
  loop_control:
    label: "{{ item.path }}"
  notify: "{{ notify_handlers | default(omit) }}"