# Configuration File - Nginx Server Configs
# http://nginx.org/en/docs/dirindex.html

# Run as a unique, less privileged user for security reasons.
user nginx;

# Sets the worker threads to the number of CPU cores available in the system for
# best performance. Should be > the number of CPU cores. Maximum number of
# connections = worker_processes * worker_connections
worker_processes auto;

# Maximum number of open files per worker process.
# Should be > worker_connections.
worker_rlimit_nofile 8192;

events {
  # If you need more connections than this, you start optimizing your OS. That's
  # probably the point at which you hire people who are smarter than you as this
  # is *a lot* of requests. Should be < worker_rlimit_nofile.
  worker_connections 8000;
}

# Log errors and warnings to this file.
# This is only used when you don't override it on a server{} level.
error_log  /var/log/nginx/error.log warn;

# The file storing the process ID of the main process
pid        /var/run/nginx.pid;

http {
  # Hide nginx version information.
  server_tokens off;

  # Specify MIME types for files.
  include       mime.types;
  default_type  application/octet-stream;

  map $http_x_health_check $loggable {
    1         0; # wget healthcheck uses X-Health-Check: 1.
    default   1;
  }

  # Include $http_x_forwarded_for within default format used in log files.
  log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                  '$status $body_bytes_sent "$http_referer" '
                  '"$http_user_agent" '
                  'forwarded-for "$http_x_forwarded_for" '
                  'gzip $gzip_ratio '
                  'uri $uri request_uri $request_uri';

  # Log access to this file.
  # This is only used when you don't override it on a server{} level.
  access_log /var/log/nginx/access.log main if=$loggable;

  # How long to allow each connection to stay idle.
  # Longer values are better for each individual client, particularly for SSL,
  # but means that worker connections are tied up longer.
  keepalive_timeout 20s;

  # Speed up file transfers by using sendfile() to copy directly
  # between descriptors rather than using read()/write().
  # For performance reasons, on FreeBSD systems w/ ZFS
  # this option should be disabled as ZFS's ARC caches
  # frequently used files in RAM by default.
  sendfile        on;

  # Don't send out partial frames; this increases throughput
  # since TCP frames are filled up before being sent out.
  tcp_nopush      on;

  server {
    listen     [::]:80 ipv6only=off default_server;

    # Cache file descriptors.
    open_file_cache           max=1000 inactive=300s;
    open_file_cache_valid     600s;
    open_file_cache_min_uses  1;
    open_file_cache_errors    on;

    # No indexing.
    #add_header X-Robots-Tag "noindex, nofollow" always;

    # Caching only in browsers, validate before reuse.
    add_header Cache-Control "no-transform, private, no-cache" always;

    # No compression.
    gzip off;
    gzip_static off;

    location / {
      root   /usr/share/nginx/html;
      index  index.html;
    }
  }
}