services:
  server:
    image: teamspeaksystems/teamspeak6-server:latest
    container_name: teamspeak-server
    ports:
      - 9987:9987/udp # Voice Port
      - 10080:10080/tcp # Web Query
      - 30033:30033/tcp # File Transfer
    environment:
      - TSSERVER_LICENSE_ACCEPTED=accept
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/data:/var/tsserver
