[Unit]
Description=Medien-Speicher für plex Installation
Requires=network-online.target
After=network-online.target systemd-resolved.service
Wants=network-online.target systemd-resolved.service

[Mount]
What={{ plex_fileserver | mandatory }}
Where={{ mountpoint | mandatory }}
Type=nfs
Options=nofail,noexec,defaults