http:
    ## EXTERNAL ROUTING ##
  routers:
    # plex routing
    plex:
      entryPoints:
        - https
      rule: 'Host(`{{ plex_domain }}`)'
      service: plex
  ## SERVICES ##
  services:
    # plex service
    plex:
      loadBalancer:
        servers:
          - url: http://{{ plex_ip }}:32400/