http:
    ## EXTERNAL ROUTING ##
  routers:
    # homeassistant routing
    homeassistant:
      entryPoints:
        - https
      rule: 'Host(`{{ homeassistant_domain }}`)'
      middlewares:
        - lan-only@docker
      service: homeassistant
  ## SERVICES ##
  services:
    # homeassistant service
    homeassistant:
      loadBalancer:
        servers:
          - url: http://{{ homeassistant_ip }}:8123
