http:
    ## EXTERNAL ROUTING ##
  routers:
    # homebridge routing
    piholeBackup:
      entryPoints:
        - https
      rule: 'Host(`pihole2.home-lorenzen.de`)'
      middlewares:
        - lan-only@docker
      service: piholeBackup
  ## SERVICES ##
  services:
    # piholeBackup service
    piholeBackup:
      loadBalancer:
        servers:
          - url: http://192.168.10.41:9090/admin/
