http:
    ## EXTERNAL ROUTING ##
  routers:
    # homebridge routing
    homebridge:
      entryPoints:
        - https
      rule: 'Host(`{{ homebridge_domain }}`)'
      middlewares:
        - lan-only@docker
      service: homebridge
  ## SERVICES ##
  services:
    # homebridge service
    homebridge:
      loadBalancer:
        servers:
          - url: http://{{ homebridge_ip }}:8581/
