http:
    ## EXTERNAL ROUTING ##
  routers:
    # paperlessngx routing
    paperlessngx:
      entryPoints:
        - https
      rule: 'Host(`dms.home-lorenzen.de`)'
      service: paperlessngx
  ## SERVICES ##
  services:
    # paperlessngx service
    paperlessngx:
      loadBalancer:
        servers:
          - url: http://192.168.10.11:8000/