http:
    ## EXTERNAL ROUTING ##
  routers:
    # unifi routing
    unifi:
      entryPoints:
        - https
      rule: 'Host(`{{ unifi_domain }}`)'
      service: unifi
  ## SERVICES ##
  services:
    # unifi service
    unifi:
      loadBalancer:
        servers:
          - url: https://{{ unifi_ip }}:8443/