http:
    ## EXTERNAL ROUTING ##
  routers:
    # homepage routing
    homepage:
      entryPoints:
        - https
      rule: 'Host(`{{ homepage_domain }}`)'
      middlewares:
        - basic-auth-global@docker
      service: homepage
  ## SERVICES ##
  services:
    # homepage service
    homepage:
      loadBalancer:
        servers:
          - url: http://{{ homepage_ip }}:3000/