---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/bookmarks

- Development:
    - Github:
        - abbr: GH
          href: https://github.com/

- HomeLab:
    - Hetzner:
        - abbr: HETZ
          href: https://console.hetzner.cloud/projects
    - Strato:
        - abbr: STR
          href: https://www.strato.de/apps/CustomerService
    - Strato Mail:
        - abbr: SMAIL
          href: https://webmail.strato.com/appsuite/signin