---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/bookmarks

- Development:
    - Github - Nils:
        - icon: github.svg
          abbr: GH
          href: https://github.com/NilsLorenzen
    - Github - Ansible Home:
        - icon: github.svg
          abbr: GH
          href: https://github.com/NilsLorenzen/AnsibleHome
    - Github - Awesome Selfhosted:
        - icon: github.svg
          href: https://github.com/awesome-selfhosted/awesome-selfhosted
    - selfh.st:
        - icon: selfh-st.svg
          href: https://selfh.st/apps/

- Home-Network:
    - DS920+ over ip - Samwell:
        - icon: synology-dsm.svg
          href: http://192.168.10.11:5000/
    - Proxmox Dashboard - Brandon:
        - icon: proxmox.svg
          href: https://192.168.10.41:8006/
    - Proxmox Dashboard - Jon:
        - icon: proxmox.svg
          href: https://192.168.10.43:8006/
    - Proxmox Dashboard - Robb:
        - icon: proxmox.svg
          href: https://192.168.10.45:8006/
    - Plex Zugriff ohne Internet:
        - icon: plex.svg
          href: http://192.168.10.16:32400/web/index.html#!/
    - Pihole over IP - Tyrion:
        - icon: pi-hole.svg
          href: http://192.168.10.16:9090/admin/index.php/

- Hosting:
    - CrowdSec:
        - icon: crowdsec.svg
          href: https://app.crowdsec.net/alerts
    - Hetzner:
        - icon: hetzner.svg
          href: https://console.hetzner.cloud/projects
    - INWX:
        - abbr: INWX
          href: https://www.inwx.de/de
    - Strato:
        - abbr: STRAT
          href: https://www.strato.de/apps/CustomerService
    - Strato Mail:
        - abbr: SMAIL
          href: https://webmail.strato.com/appsuite/signin
