---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/bookmarks

- Development:
    - Github:
        - icon: github.png
          abbr: GH
          href: https://github.com/NilsLorenzen
    - Awesome Selbsthosted:
        - icon: github.png
          href: https://github.com/awesome-selfhosted/awesome-selfhosted

- Home-Network:
    - DS920+ over ip - Samwell:
        - icon: synology-dsm.svg
          href: http://192.168.10.11:5000/
    - CasaOS Dashboard - Brandon:
        - icon: casaos.svg
          href: http://192.168.10.41:81/
    - CasaOS Dashboard - Jon:
        - icon: casaos.svg
          href: http://192.168.10.43:81/
    - Plex Zugriff ohne Internet:
        - icon: plex.svg
          href: http://192.168.10.16:32400/web/index.html#!/

- Hosting:
    - Hetzner:
        - icon: hetzner.svg
          href: https://console.hetzner.cloud/projects
    - INWX:
        - abbr: INWX
          href: https://www.inwx.de/de
    - Strato:
        - abbr: STRAT
          href: https://www.strato.de/apps/CustomerService
    - Strato Mail:
        - abbr: SMAIL
          href: https://webmail.strato.com/appsuite/signin
