#information-widgets {
    margin-top: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#fritzBoxID .text-sm {
    font-size: .700rem;
}
.services-group {
    margin-top: -4px;
    margin-bottom: -4px;
}