#page_container {
    background:
         radial-gradient(circle at top left, rgba(0, 255, 255, .3) 0%, transparent 60%),
         radial-gradient(circle at bottom right, rgba(255, 0, 255, .2) 0%, transparent 60%),
         radial-gradient(circle, #888, #111);
}

#information-widgets {
    margin-top: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#layout-groups {
    margin-top: 0.25rem;
    margin-bottom: 0rem;
}
#fritzBoxID .text-sm {
    font-size: .700rem;
}
#unifiID .text-xs {
    font-size: .700rem;
}
#grafanaID .text-xs {
    font-size: .600rem;
}
