#information-widgets {
    margin-top: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#layout-groups {
    margin-top: 0.25rem;
    margin-bottom: 0rem;
}
#fritzBoxID .text-sm {
    font-size: .700rem;
}
#unifiID .text-xs {
    font-size: .700rem;
}
#grafanaID .text-xs {
    font-size: .600rem;
}
