---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/docker/

# my-docker:
#   host: 127.0.0.1
#   port: 2375

tyrion:
  socket: /var/run/docker.sock
nas:
  host: 192.168.10.12
  port: 2375