---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- Network:
    - FritzBox:
        icon: avmfritzbox.svg
        href: http://fritz.box/
        id: fritzBoxID
        widget:
          type: fritzbox
          fields: ["uptime", "externalIPAddress", "down", "up"]
          url: https://fritz.box/
    - PiHole Tyrion:
        icon: pi-hole.svg
        href: https://pihole.home-lorenzen.de
        widget:
          type: pihole
          url: "http://pihole.home-lorenzen.de:9090"
          key: {{ vault_pihole_apikey }}
          container: pihole
    - PiHole Backup Brandon:
        icon: pi-hole.svg
        href: https://pihole2.home-lorenzen.de
        widget:
          type: pihole
          url: "http://192.168.10.41:9090"
          key: {{ vault_pihole_apikey }}
    - Unifi Controller Brandon:
        icon: unifi.svg
        href: https://192.168.10.41:8443/
        widget:
            type: unifi
            url: https://192.168.10.41:8443
            #fields: ["lan_devices", "wlan_devices", "uptime"]
            username: {{ unifi_username }}
            password: {{ unifi_password }}
            #site: brandon-unifi

- Media:
    - Plex:
        icon: plex.svg
        href: https://plex.nlor.de
        widget:
            type: plex
            url: http://192.168.10.16:32400
            key: "{{ plex_apikey }}"
    - Tautulli for Plex:
        icon: tautulli.svg
        href: https://tautulli.home-lorenzen.de
        widget:
          type: tautulli
          url: https://tautulli.home-lorenzen.de
          key: "{{ tautulli_apikey }}"
    - Overseerr for Plex:
        icon: overseerr.svg
        href: https://overseerr.nlor.de
        widget:
          type: overseerr
          fields: ["pending", "approved", "available"]
          url: https://overseerr.nlor.de
          key: "{{ overseerr_apikey }}"

- NAS:
    - Synology:
        icon: synology-dsm.svg
        href: 
        widget:
            type: diskstation
            url: http://192.168.10.11:5000/
            username: {{ synology_username }}
            password: {{ synology_password }}
            volume: volume_1
    - PaperlessNGX:
        icon: paperless-ngx.svg
        href: https://dms.home-lorenzen.de
        widget:
          type: paperlessngx
          url: https://dms.home-lorenzen.de
          username: {{ paperlessngx_username }}
          password: {{ paperlessngx_password }}
    - Lorenzen Wiki.js:
        icon: wikijs.png
        href: https://wiki.home-lorenzen.de/
        description: wiki.home-lorenzen.de

- Werkzeuge:
    - Cobalt Downloader:
        icon: nextcloud-ncdownloader.svg
        href: https://cobalt.home-lorenzen.de/
    - IT-Tools:
        icon: it-tools.svg
        href: https://tools.nlor.de/
    - Spotify Tracker:
        icon: spotify.svg
        href: https://spotify.home-lorenzen.de/
    - Stirling PDF:
        icon: stirling-pdf.svg
        href: https://pdf.nlor.de/
    - OpenSpeedTest:
        icon: openspeedtest.png
        href: http://192.168.10.11:3000/?S=L

- Tyrion:
    - Traefik Tyrion:
        icon: traefik.svg
        href: https://traefik.home-lorenzen.de/dashboard/
        widget:
          type: traefik
          url: https://traefik.home-lorenzen.de
          username: {{ traefik_username }}
          password: {{ traefik_password }}
          container: traefik-app-1
    - Grafana:
        icon: grafana.svg
        href: https://grafana.home-lorenzen.de
        widget:
          type: grafana
          url: https://grafana.home-lorenzen.de
          username: {{ vault_grafana_user }}
          password: {{ vault_grafana_password }}
    - Prometheus:
        icon: prometheus.svg
        href: https://prometheus.home-lorenzen.de
        widget:
          type: prometheus
          url: https://prometheus.home-lorenzen.de
    - Homebridge:
        icon: homebridge.svg
        href: https://homebridge.home-lorenzen.de
        widget:
          type: homebridge
          url: https://homebridge.home-lorenzen.de
          username: {{ homebridge_username }}
          password: {{ homebridge_password }}
    - Minecraft NiNi Server - Tyrion:
        icon: minecraft.svg
        widget:
          type: minecraft
          url: udp://mc.home-lorenzen.de:25565

- Drogon:
    - Traefik Drogon:
        icon: traefik.svg
        href: https://traefik.n1ls.wtf/dashboard/
        widget:
          type: traefik
          url: https://traefik.n1ls.wtf
          username: {{ traefik_username }}
          password: {{ traefik_password }}
    - UptimeKuma:
        icon: uptime-kuma.svg
        href: https://status.nlor.de
        widget:
            widget:
            type: uptimekuma
            url: https://status.nlor.de
            slug: standard
    - Minecraft Bauserver - Drogon:
        icon: minecraft.svg
        widget:
          type: minecraft
          url: udp://mc.n1ls.wtf:25565

- Drogon2:
    - VaultWarden:
        icon: vaultwarden.svg
        href: https://passwords.nlor.de/
    - Wordpress MFW:
        icon: wordpress.svg
        href: https://motorradfreunde-wilferdingen.de/
    - NGINX Webserver (n1ls.wtf):
        icon: nginx.svg
        href: https://n1ls.wtf/
    - LittleLink (me.nilslorenzen.de):
        icon: littlelink-custom.svg
        href: https://me.nilslorenzen.de/