---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- Network:
    - FritzBox:
        icon: avmfritzbox.svg
        href: http://192.168.5.1/
        id: fritzBoxID
        ping: 192.168.5.1
        widget:
          type: fritzbox
          fields: ["uptime", "externalIPAddress", "down", "up"]
          url: http://192.168.5.1/
    - UCG Max Gateway:
        icon: unifi.svg
        href: https://192.168.10.1/
        id: unifiID
        ping: 192.168.10.1
        widget:
            type: unifi
            url: https://192.168.10.1
            #fields: ["lan_devices", "wlan_devices", "uptime"]
            username: {{ unifi_username }}
            password: {{ unifi_password }}
    - PiHole Tyrion:
        icon: pi-hole.svg
        href: https://pihole.home-lorenzen.de
        server: tyrion
        container: pihole
        widget:
          type: pihole
          url: "http://pihole.home-lorenzen.de:9090"
          key: {{ vault_pihole_apikey }}
    - Synology DSM:
        icon: synology-dsm.svg
        href: https://nas.home-lorenzen.de:5001
        ping: 192.168.10.11
        widget:
            type: diskstation
            url: http://192.168.10.11:5000/
            username: {{ synology_username }}
            password: {{ synology_password }}
            volume: volume_1

- Media:
    - Plex:
        icon: plex.svg
        href: https://plex.nlor.de
        server: tyrion
        container: plex
        widget:
            type: plex
            url: http://{{ local_plex_ip }}:32400
            key: "{{ plex_apikey }}"
    - Tautulli for Plex:
        icon: tautulli.svg
        href: https://tautulli.home-lorenzen.de
        server: tyrion
        container: tautulli
        widget:
            type: tautulli
            url: https://tautulli.home-lorenzen.de
            key: "{{ tautulli_apikey }}"
    - Overseerr for Plex:
        icon: overseerr.svg
        href: https://overseerr.nlor.de
        server: tyrion
        container: overseerr
        widget:
            type: overseerr
            fields: ["pending", "approved", "available"]
            url: https://overseerr.nlor.de
            key: "{{ overseerr_apikey }}"

- Tools:
    - PairDrop:
        icon: pairdrop.webp
        href: https://drop.nlor.de/
        server: tyrion
        container: pairdrop
    - IT-Tools:
        icon: it-tools.svg
        href: https://tools.nlor.de/
        server: tyrion
        container: it-tools
    - CyberChef:
        icon: cyberchef.svg
        href: https://cyberchef.nlor.de/
        server: tyrion
        container: cyberchef
    - Stirling PDF:
        icon: stirling-pdf.svg
        href: https://pdf.nlor.de/
        server: tyrion
        container: stirling-pdf
    - ConvertX:
        icon: sh-convertx.webp
        href: https://converter.nlor.de/
        server: tyrion
        container: convertx
    - OpenSpeedTest:
        icon: openspeedtest.png
        href: http://speedtest.home-lorenzen.de:7070/?S=L
        server: tyrion
        container: openspeedtest

- HomeLab:
    - Traefik Tyrion:
        icon: traefik.svg
        href: https://traefik.home-lorenzen.de/dashboard/
        server: tyrion
        container: traefik
        widget:
          type: traefik
          url: https://traefik.home-lorenzen.de
          username: {{ traefik.nils.username }}
          password: {{ traefik.nils.password }}
    - Whats up Docker:
        icon: whats-up-docker.svg
        href: https://whatsup.home-lorenzen.de
        server: tyrion
        container: whatsupdocker
        widget:
          type: whatsupdocker
          url: https://whatsup.home-lorenzen.de
    - Speedtest Tracker:
        icon: speedtest-tracker-old.png
        href: https://speed.home-lorenzen.de/
        server: tyrion
        container: speedtest-tracker
        widget:
            type: speedtest
            url: https://speed.home-lorenzen.de
            bitratePrecision: 2 # optional, default is 0
    - Homebridge:
        icon: homebridge.svg
        href: https://homebridge.home-lorenzen.de
        server: tyrion
        container: homebridge
        widget:
          type: homebridge
          url: https://homebridge.home-lorenzen.de
          username: {{ homebridge_username }}
          password: {{ homebridge_password }}
    - Grafana:
        icon: grafana.svg
        href: https://grafana.home-lorenzen.de
        id: grafanaID
        server: tyrion
        container: grafana
        widget:
          type: grafana
          fields: ["dashboards", "datasources", "alertstriggered"]
          url: https://grafana.home-lorenzen.de
          username: {{ vault_grafana_user }}
          password: {{ vault_grafana_password }}
    - Prometheus:
        icon: prometheus.svg
        href: https://prometheus.home-lorenzen.de
        server: tyrion
        container: prometheus
        widget:
          type: prometheus
          url: https://prometheus.home-lorenzen.de
    - Minecraft NiNi Server - Tyrion:
        icon: minecraft.svg
        server: tyrion
        container: minecraft_java
        widget:
          type: minecraft
          url: udp://mc.home-lorenzen.de:25565
    - Home Assistant:
        icon: home-assistant.svg
        href: https://homeassistant.home-lorenzen.de
        server: tyrion
        container: homeassistant
        widget:
            type: homeassistant
            url: http://192.168.10.16:8123
            key: "{{ homeassistant_token }}"
            {# custom:
                - state: sensor.total_power
                - state: sensor.total_energy_today
                label: energy today
                - template: "{{ states.switch|selectattr('state','equalto','on')|list|length }}"
                label: switches on
                - state: weather.forecast_home
                label: wind speed
                value: "{attributes.wind_speed} {attributes.wind_speed_unit}" #}
    - PaperlessNGX:
        icon: paperless-ngx.svg
        href: https://dms.home-lorenzen.de
        server: nas
        container: paperlessngx-webserver-1
        widget:
          type: paperlessngx
          url: https://dms.home-lorenzen.de
          username: {{ paperlessngx_username }}
          password: {{ paperlessngx_password }}
    - LubeLogger:
        icon: lubelogger.webp
        href: https://lubelogger.home-lorenzen.de/
        server: tyrion
        container: lubelogger
        widget:
            type: lubelogger
            url: https://lubelogger.home-lorenzen.de
            username: {{ lubelogger_username }}
            password: {{ lubelogger_password }}
            #vehicleID: 1 # optional, changes to single-vehicle version
    - Mealie:
        icon: mealie.svg
        href: https://mealie.home-lorenzen.de/
        server: tyrion
        container: mealie
        widget:
            type: mealie
            url: https://mealie.home-lorenzen.de
            key: mealieapitoken
            version: 2 # only required if version > 1, defaults to 1
            hideErrors: true

- HomeLab2:
    - VaultWarden:
        icon: vaultwarden.svg
        href: https://passwords.nlor.de/
        server: tyrion
        container: vaultwarden
    - Dozzle:
        icon: dozzle.svg
        href: https://dozzle.home-lorenzen.de/
        server: tyrion
        container: dozzle
    - Spotify Tracker:
        icon: spotify.svg
        href: https://spotify.home-lorenzen.de/
        server: tyrion
        container: spotify_tracker-web-1
    - WallOS:
        icon: wallos.webp
        href: https://abos.home-lorenzen.de/
        server: tyrion
        container: wallos

- Drogon:
    - Traefik Drogon:
        icon: traefik.svg
        href: https://traefik.nlor.de/dashboard/
        siteMonitor: https://traefik.nlor.de/dashboard/
        widget:
          type: traefik
          url: https://traefik.nlor.de
          username: {{ traefik.nils.username }}
          password: {{ traefik.nils.password }}
    - Whats up Docker:
        icon: whats-up-docker.svg
        href: https://whatsup.nlor.de/
        siteMonitor: https://whatsup.nlor.de/
        widget:
          type: whatsupdocker
          url: https://whatsup.nlor.de
          username: {{ traefik.nils.username }}
          password: {{ traefik.nils.password }}
    - UptimeKuma:
        icon: uptime-kuma.svg
        href: https://status.nlor.de
        siteMonitor: https://status.nlor.de/status/n1ls/
        widget:
            type: uptimekuma
            url: https://status.nlor.de
            slug: n1ls
    - Minecraft Bauserver - Drogon:
        icon: minecraft.svg
        ping: mc.n1ls.wtf
        widget:
          type: minecraft
          url: udp://mc.n1ls.wtf:25565

- Drogon2:
    - Dozzle:
        icon: dozzle.svg
        href: https://dozzle.nlor.de/
        siteMonitor: https://dozzle.nlor.de/
    - Wordpress MFW:
        icon: wordpress.svg
        href: https://motorradfreunde-wilferdingen.de/
        siteMonitor: https://motorradfreunde-wilferdingen.de/
    - NGINX Webserver (n1ls.wtf):
        icon: nginx.svg
        href: https://n1ls.wtf/
        siteMonitor: https://n1ls.wtf/
    - LittleLink (me.nilslorenzen.de):
        icon: littlelink-custom.svg
        href: https://me.nilslorenzen.de/
        siteMonitor: https://me.nilslorenzen.de/
