---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/settings

title: N1ls Home Dashboard
theme: dark # or light
color: slate
favicon: https://n1ls.wtf/images/favicon.png
background: https://n1ls.wtf/images/bg.webp
cardBlur: sm # sm, "", md, etc... see https://tailwindcss.com/docs/backdrop-blur
headerStyle: boxed
language: de
layout:
  Network / Media:
    style: row
    columns: 4
    useEqualHeights: true
  NAS:
    icon: synology.svg
  ZimaBoards:
    icon: casaos.svg
  Tyrion:
    icon: ubuntu.svg
  Drogon:
    icon: hetzner.svg
