---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/settings

title: N1ls Home Dashboard
theme: dark # or light
color: slate
background:
  image: https://n1ls.wtf/images/bg.webp
  #blur: sm # sm, "", md, xl...
  saturate: 50 # 0, 50, 100...
  brightness: 50 # 0, 50, 75...
  #opacity: 50 # 0-100
cardBlur: sm # sm, "", md, etc... see https://tailwindcss.com/docs/backdrop-blur