---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/settings

title: N1ls Home Dashboard
theme: dark # or light
color: slate
favicon: https://n1ls.wtf/images/favicon.png
background: https://images.unsplash.com/photo-1461301214746-1e109215d6d3?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D #https://n1ls.wtf/images/bg.webp
cardBlur: sm # sm, "", md, etc... see https://tailwindcss.com/docs/backdrop-blur
headerStyle: boxed
language: en
disableCollapse: true
layout:
  Network:
    style: row
    columns: 4
    useEqualHeights: true
    icon: netbox.svg
  Media:
    style: row
    columns: 3
    useEqualHeights: true
    icon: synology-video-station.png
  Tyrion:
    style: row
    columns: 4
    useEqualHeights: true
    icon: ubuntu.svg
  Samwell (NAS):
    style: row
    columns: 3
    useEqualHeights: true
    icon: synology.svg
  Drogon:
    style: row
    columns: 3
    icon: hetzner.svg
  Drogon2:
    style: row
    columns: 4
    header: false
  Werkzeuge:
    style: row
    columns: 4
    useEqualHeights: true
