networks:
  default:
  web:
    external: true

services:
  app:
    image: portainer/portainer-ce:latest
    container_name: portainer-ce
    networks:
      - web
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ root }}/portainer-data:/data
    ports:
      - 9000:9000
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ portainer_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-app.loadbalancer.server.port=9000
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.tls=true
