cname=plex.home-lorenzen.de,tyrion.fritz.box
cname=homebridge.home-lorenzen.de,tyrion.fritz.box
cname=nginx.home-lorenzen.de,tyrion.fritz.box
cname=heimdall.home-lorenzen.de,tyrion.fritz.box
cname=portainer.home-lorenzen.de,tyrion.fritz.box
cname=nas.home-lorenzen.de,tyrion.fritz.box
cname=smokeping.home-lorenzen.de,tyrion.fritz.box
cname=tautulli.home-lorenzen.de,tyrion.fritz.box
cname=switch.home-lorenzen.de,tyrion.fritz.box
cname=speedtest.home-lorenzen.de,tyrion.fritz.box
cname=pihole.home-lorenzen.de,tyrion.fritz.box
cname=traefik.home-lorenzen.de,tyrion.fritz.box
