cname=plex.n1ls.wtf,tyrion.fritz.box
cname=homebridge.n1ls.wtf,tyrion.fritz.box
cname=nginx.n1ls.wtf,tyrion.fritz.box
cname=heimdall.n1ls.wtf,tyrion.fritz.box
cname=portainer.home-lorenzen.de,tyrion.fritz.box
cname=nas.n1ls.wtf,tyrion.fritz.box
cname=smokeping.n1ls.wtf,tyrion.fritz.box
cname=tautulli.n1ls.wtf,tyrion.fritz.box
cname=switch.n1ls.wtf,tyrion.fritz.box
cname=speedtest.n1ls.wtf,tyrion.fritz.box
cname=pihole.n1ls.wtf,tyrion.fritz.box
cname=traefik.home-lorenzen.de,tyrion.fritz.box
