cname=nas1.home-lorenzen.de,nas1.fritz.box
cname=nas2.home-lorenzen.de,nas2.fritz.box
cname=nas.home-lorenzen.de,nas1.fritz.box
cname=samwell.home-lorenzen.de,nas1.fritz.box
cname=pihole2.home-lorenzen.de,tyrion.fritz.box
cname=pihole.home-lorenzen.de,tyrion.fritz.box
cname=unifi.home-lorenzen.de,brandon-1.fritz.box
cname=dms.home-lorenzen.de,nas2.fritz.box
cname=homebridge.home-lorenzen.de,tyrion.fritz.box
cname=plex.nlor.de,tyrion.fritz.box
cname=traefik.home-lorenzen.de,tyrion.fritz.box
cname=dashboard.nlor.de,tyrion.fritz.box
cname=tautulli.home-lorenzen.de,tyrion.fritz.box
cname=speedtest.home-lorenzen.de,nas2.fritz.box
cname=speed.home-lorenzen.de,nas2.fritz.box
cname=mc.home-lorenzen.de,tyrion.fritz.box
cname=overseerr.nlor.de,tyrion.fritz.box
cname=cobalt.home-lorenzen.de,nas2.fritz.box
cname=wiki.home-lorenzen.de,nas2.fritz.box
cname=spotify.home-lorenzen.de,tyrion.fritz.box
cname=api-spotify.home-lorenzen.de,tyrion.fritz.box
cname=tools.nlor.de,tyrion.fritz.box
cname=pdf.nlor.de,tyrion.fritz.box
cname=grafana.home-lorenzen.de,tyrion.fritz.box
cname=prometheus.home-lorenzen.de,tyrion.fritz.box
