INSTALL_WEB_INTERFACE=true
WEBPASSWORD=81def92198074611d2a48dbcd486b758e3afa7108276916722674d90f898c719
PIHOLE_INTERFACE=eth0
QUERY_LOGGING=true
BLOCKING_ENABLED=true
DNSMASQ_LISTENING=all
DNS_FQDN_REQUIRED=false
DNS_BOGUS_PRIV=false
DNSSEC=true
REV_SERVER=true
REV_SERVER_CIDR=192.168.10.0/23
REV_SERVER_TARGET=192.168.10.1
REV_SERVER_DOMAIN=lan
PIHOLE_DNS_1=192.168.10.1
