networks:
  web:
    external: true

services:
  app:
    image: 'corentinth/it-tools:latest'
    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.tls=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ ittools_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-app.loadbalancer.server.port=80
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.tls.certresolver=letsencrypt_http
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.middlewares=basic-auth-global
      - traefik.http.middlewares.basic-auth-global.basicauth.users={{ traefik_username }}:{{ traefik_password_hash }}