http:
    ## EXTERNAL ROUTING ##
  routers:
    # mailserverredis routing
    mailserverredis:
      entryPoints:
        - https
      rule: 'Host(`redis.home-lorenzen.de`)'
      service: mailserverredis
  ## SERVICES ##
  services:
    # mailserverredis service
    mailserverredis:
      loadBalancer:
        servers:
          - url: http://redis.home-lorenzen.de:11334/