networks:
  default:

services:

  app:
    ports:
      - 80:80
      - 81:81
      - 443:443
    environment:
      - TZ=Europe/Berlin
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/nginxdata:/data/
      - {{ root }}/config.json:/app/config/production.json
      - {{ root }}/letsencrypt:/etc/letsencrypt
    image: jc21/nginx-proxy-manager:latest
