---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/docker/

# my-docker:
#   host: 127.0.0.1
#   port: 2375
#tyrion:
#  socket: /var/run/docker.sock

tyrion:
  host: docker_socket_proxy
  port: 2375
