---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services
#
# Tab "Home": alles mit Status, Tab "Apps": Anwendungen, Tab "Cloud": drogon (siehe settings.yaml).
# proxmoxNode/proxmoxVMID zeigen den Status der VM bzw. des LXC auf Rhaegar (proxmox.yaml).

# ---------------------------------------------------------------- Tab Home

- Netzwerk:
    - FritzBox:
        icon: fritzbox.svg
        href: http://192.168.5.1/
        id: fritzBoxID
        ping: 192.168.5.1
        widget:
          type: fritzbox
          fields: ["uptime", "externalIPAddress", "down", "up"]
          url: http://192.168.5.1/
    - UCG Max Gateway:
        icon: unifi.svg
        href: https://192.168.10.1/
        id: unifiID
        ping: 192.168.10.1
        widget:
          type: unifi
          url: https://192.168.10.1
          username: {{ unifi_username }}
          password: {{ unifi_password }}
    - Pi-hole:
        icon: pi-hole.svg
        href: http://192.168.10.20/admin/
        ping: 192.168.10.20
        proxmoxNode: rhaegar
        proxmoxVMID: 750
        proxmoxType: lxc
        widget:
          type: pihole
          url: "http://192.168.10.20:80"
          version: 6
          key: "{{ vault_pihole_password }}"
    - Nginx Proxy Manager:
        icon: nginx-proxy-manager.svg
        href: https://npm.home-lorenzen.de/
        siteMonitor: https://npm.home-lorenzen.de/
        proxmoxNode: rhaegar
        proxmoxVMID: 775
        proxmoxType: lxc
    - Speedtest Tracker:
        icon: myspeed.svg
        href: https://speed.home-lorenzen.de/
        server: tyrion
        container: speedtest-tracker
        widget:
          type: speedtest
          url: https://speed.home-lorenzen.de
          bitratePrecision: 2

- Infrastruktur:
    - Proxmox - Rhaegar:
        icon: proxmox.svg
        href: https://rhaegar.home-lorenzen.de:8006/
        ping: 192.168.10.15
        widget:
          type: proxmox
          url: https://192.168.10.15:8006
          username: {{ vault_homepage_proxmox_rhaegar_api_id }}
          password: {{ vault_homepage_proxmox_rhaegar_api_secret }}
          node: rhaegar
    - UNAS Pro:
        icon: unifi.svg
        href: https://192.168.10.10/
        description: "NAS für Plex und Ganymede"
        ping: 192.168.10.10
    - Tyrion:
        icon: ubuntu-linux.svg
        description: "Docker-VM"
        ping: 192.168.10.16
        proxmoxNode: rhaegar
        proxmoxVMID: 100
        proxmoxType: qemu
    - Downloader:
        icon: mdi-download-network
        description: "VM für die Arrs"
        ping: 192.168.10.91
        proxmoxNode: rhaegar
        proxmoxVMID: 142
        proxmoxType: qemu
    - Home Assistant:
        icon: home-assistant.svg
        href: https://homeassistant.home-lorenzen.de:8123
        ping: homeassistant.home-lorenzen.de
        proxmoxNode: rhaegar
        proxmoxVMID: 200
        proxmoxType: qemu
        widget:
          type: homeassistant
          url: https://homeassistant.home-lorenzen.de:8123
          key: "{{ homeassistant_token }}"
    - Uptime Kuma:
        icon: uptime-kuma.svg
        href: http://192.168.10.21:3001/
        ping: 192.168.10.21
        proxmoxNode: rhaegar
        proxmoxVMID: 725
        proxmoxType: lxc
        widget:
          type: uptimekuma
          url: http://192.168.10.21:3001/
          slug: n1ls

- Media:
    - Plex:
        icon: plex.svg
        href: https://plex.nlor.de
        server: tyrion
        container: plex
        id: plexID
        widget:
          type: plex
          url: http://plex:32400
          key: "{{ plex_apikey }}"
    - Tautulli:
        icon: tautulli.svg
        href: https://tautulli.home-lorenzen.de
        server: tyrion
        container: tautulli
        widget:
          type: tautulli
          url: https://tautulli.home-lorenzen.de
          key: "{{ tautulli_apikey }}"
    - Seerr:
        icon: seerr.svg
        href: https://seerr.nlor.de
        server: tyrion
        container: seerr
        widget:
          type: seerr
          fields: ["pending", "approved", "available"]
          url: https://seerr.nlor.de
          key: "{{ seerr_apikey }}"

- Downloads:
    - Sonarr:
        icon: sonarr.svg
        href: http://192.168.10.91:8989/
        siteMonitor: http://192.168.10.91:8989
        widget:
          type: sonarr
          url: http://192.168.10.91:8989
          key: {{ vault_sonarr_api_key }}
    - Radarr:
        icon: radarr.svg
        href: http://192.168.10.91:7878/
        siteMonitor: http://192.168.10.91:7878
        widget:
          type: radarr
          url: http://192.168.10.91:7878
          key: {{ vault_radarr_api_key }}
    - Prowlarr:
        icon: prowlarr.svg
        href: http://192.168.10.91:9696/
        siteMonitor: http://192.168.10.91:9696
        widget:
          type: prowlarr
          url: http://192.168.10.91:9696
          key: {{ vault_prowlarr_api_key }}
    - SABnzbd:
        icon: sabnzbd.svg
        href: http://192.168.10.91:8080/
        siteMonitor: http://192.168.10.91:8080
        widget:
          type: sabnzbd
          url: http://192.168.10.91:8080
          key: {{ vault_sabnzbd_api_key }}

- Tyrion Docker:
    - Traefik:
        icon: traefik.svg
        href: https://traefik.home-lorenzen.de/dashboard/
        server: tyrion
        container: traefik
        widget:
          type: traefik
          url: https://traefik.home-lorenzen.de
          username: {{ traefik.nils.username }}
          password: {{ traefik.nils.password }}
    - Whats up Docker:
        icon: sh-wud.svg
        href: https://whatsup.home-lorenzen.de
        server: tyrion
        container: whatsupdocker
        widget:
          type: whatsupdocker
          url: https://whatsup.home-lorenzen.de
    - Dozzle:
        icon: dozzle.svg
        description: "Log viewer for Docker"
        href: https://dozzle.home-lorenzen.de/
        server: tyrion
        container: dozzle

# ---------------------------------------------------------------- Tab Apps

- Werkzeuge:
    - IT-Tools:
        icon: it-tools.svg
        description: "Collection of useful IT-Tools"
        href: https://tools.nlor.de/
        server: tyrion
        container: it-tools
    - Networking Toolbox:
        icon: mdi-lan
        description: "Network tools in the browser"
        href: https://nettools.nlor.de/
        server: tyrion
        container: networking-toolbox
    - CyberChef:
        icon: cyberchef.svg
        description: "The Swiss Army Knife of Encryption"
        href: https://cyberchef.nlor.de/
        server: tyrion
        container: cyberchef
    - Stirling PDF:
        icon: stirling-pdf.svg
        description: "PDF-Tools"
        href: https://pdf.nlor.de/
        server: tyrion
        container: stirling-pdf
    - ConvertX:
        icon: sh-convertx.webp
        description: "Convert files to different formats"
        href: https://converter.nlor.de/
        server: tyrion
        container: convertx
    - PairDrop:
        icon: pairdrop.webp
        description: "Sharing files made easy"
        href: https://drop.nlor.de/
        server: tyrion
        container: pairdrop
    - Excalidraw:
        icon: sh-excalidraw.webp
        description: "Collaborative whiteboard tool"
        href: https://draw.home-lorenzen.de/
        server: tyrion
        container: excalidraw
    - Cobalt Downloader:
        icon: cobalt.svg
        description: "Web Downloader"
        href: https://download.home-lorenzen.de/
        server: tyrion
        container: cobaltdownloader-web
    - OpenSpeedTest:
        icon: openspeedtest.png
        description: "Speedtest for your local network"
        href: http://speedtest.home-lorenzen.de:7070/?S=L
        server: tyrion
        container: openspeedtest

- Organisation:
    - Paperless-ngx:
        icon: paperless-ngx.svg
        href: https://dms.home-lorenzen.de
        server: tyrion
        container: paperlessngx
        widget:
          type: paperlessngx
          url: https://dms.home-lorenzen.de
          username: {{ paperlessngx_username }}
          password: {{ paperlessngx_password }}
    - Vaultwarden:
        icon: vaultwarden.svg
        description: "Self-hosted password manager"
        href: https://passwords.nlor.de/
        server: tyrion
        container: vaultwarden
    - Docmost:
        icon: sh-docmost.webp
        description: "Wiki"
        href: https://wiki.home-lorenzen.de/
        server: tyrion
        container: docmost
    - WallOS:
        icon: wallos.webp
        description: "Subscription Tracker"
        href: https://abos.home-lorenzen.de/
        server: tyrion
        container: wallos

- Musik & Archiv:
    - Your Spotify:
        icon: sh-your-spotify.svg
        description: "Statistic Collector for Spotify"
        href: https://spotify.home-lorenzen.de/
        server: tyrion
        container: spotify_tracker-web-1
    - Spotizerr:
        icon: sh-spotify.webp
        description: "Spotify Downloader"
        href: https://spotizerr.home-lorenzen.de/
        server: tyrion
        container: spotizerr-app
    - Ganymede:
        icon: sh-ganymede
        description: "Twitch Livestream Archiver"
        href: https://ganymede.home-lorenzen.de/
        server: tyrion
        container: ganymede

- Spiele:
    - Minecraft Bauserver:
        icon: minecraft.svg
        href: https://192.168.10.26:8443/
        description: "Crafty-LXC"
        widget:
          type: minecraft
          url: udp://192.168.10.26:25565
    - Minecraft NiNi Server:
        icon: minecraft.svg
        href: https://192.168.10.26:8443/
        description: "Crafty-LXC"
        widget:
          type: minecraft
          url: udp://192.168.10.26:25566
    - Crafty:
        icon: crafty-controller.svg
        id: craftyID
        description: "Minecraft Server Management Tool"
        href: https://192.168.10.26:8443/
        ping: 192.168.10.26
        proxmoxNode: rhaegar
        proxmoxVMID: 800
        proxmoxType: lxc
    - Scribblers:
        icon: https://scribble.nlor.de/resources/favicon.svg
        id: scribblersID
        description: "Scribble.io but self hosted"
        href: https://scribble.nlor.de/
        server: tyrion
        container: scribblers

- Hintergrund:
    - Cobalt Downloader API:
        icon: cobalt.svg
        description: "Web Downloader API"
        server: tyrion
        container: cobaltdownloader-api
    - Docker Socket Proxy:
        icon: docker.svg
        description: "Docker-API für Traefik & Co."
        server: tyrion
        container: docker_socket_proxy

# ---------------------------------------------------------------- Tab Cloud

- Drogon:
    - Traefik - Drogon:
        icon: traefik.svg
        href: https://traefik.nlor.de/dashboard/
        siteMonitor: https://traefik.nlor.de/dashboard/
        widget:
          type: traefik
          url: https://traefik.nlor.de
          username: {{ traefik.nils.username }}
          password: {{ traefik.nils.password }}
    - Whats up Docker - Drogon:
        icon: sh-wud.svg
        href: https://whatsup.nlor.de/
        siteMonitor: https://whatsup.nlor.de/
        widget:
          type: whatsupdocker
          url: https://whatsup.nlor.de
          username: {{ traefik.nils.username }}
          password: {{ traefik.nils.password }}
    - UptimeKuma - Drogon:
        icon: uptime-kuma.svg
        href: https://status.nlor.de
        siteMonitor: https://status.nlor.de/status/n1ls/
        widget:
          type: uptimekuma
          url: https://status.nlor.de
          slug: n1ls
    - Dozzle - Drogon:
        icon: dozzle.svg
        href: https://dozzle.nlor.de/
        siteMonitor: https://dozzle.nlor.de/

- Websites:
    - Wordpress MFW:
        icon: wordpress.svg
        href: https://motorradfreunde-wilferdingen.de/
        siteMonitor: https://motorradfreunde-wilferdingen.de/
    - NGINX Webserver (n1ls.wtf):
        icon: nginx.svg
        href: https://n1ls.wtf/
        siteMonitor: https://n1ls.wtf/
    - Website (nilslorenzen.de):
        icon: mdi-web
        href: https://nilslorenzen.de/
        siteMonitor: https://nilslorenzen.de/
    - Spielekiste:
        icon: mdi-gamepad-variant
        href: https://spielekiste.nilslorenzen.de/
        siteMonitor: https://spielekiste.nilslorenzen.de/
