---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/settings

title: N1ls Home Dashboard
theme: dark # or light
color: slate
favicon: https://n1ls.wtf/images/favicon.png
background: https://images.unsplash.com/photo-1461301214746-1e109215d6d3?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D #https://n1ls.wtf/images/bg.webp
cardBlur: sm # sm, "", md, etc... see https://tailwindcss.com/docs/backdrop-blur
headerStyle: underlined
language: en
disableCollapse: true
fullWidth: true

layout:
  # Tab Home: Zustand des Homelabs auf einen Blick
  Netzwerk:
    tab: Home
    style: row
    columns: 5
    useEqualHeights: true
    icon: mdi-lan
  Infrastruktur:
    tab: Home
    style: row
    columns: 3
    useEqualHeights: true
    icon: proxmox.svg
  Media:
    tab: Home
    style: row
    columns: 3
    useEqualHeights: true
    icon: plex.svg
  Downloads:
    tab: Home
    style: row
    columns: 4
    useEqualHeights: true
    icon: mdi-download-network
  Tyrion Docker:
    tab: Home
    style: row
    columns: 3
    useEqualHeights: true
    icon: docker.svg
  # Tab Apps: Anwendungen
  Werkzeuge:
    tab: Apps
    style: row
    columns: 5
    icon: mdi-hammer-wrench
  Organisation:
    tab: Apps
    style: row
    columns: 4
    useEqualHeights: true
    icon: mdi-folder-account
  Musik & Archiv:
    tab: Apps
    style: row
    columns: 3
    icon: mdi-music-box-multiple
  Spiele:
    tab: Apps
    style: row
    columns: 4
    useEqualHeights: true
    icon: minecraft.svg
  Hintergrund:
    tab: Apps
    style: row
    columns: 5
    icon: si-framework
  # Tab Cloud: drogon bei Hetzner
  Drogon:
    tab: Cloud
    style: row
    columns: 4
    useEqualHeights: true
    icon: hetzner.svg
  Websites:
    tab: Cloud
    style: row
    columns: 3
    icon: mdi-web
