---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/service-widgets

- resources:
    label: {{ inventory_hostname }}
    cpu: true
    memory: true
    disk: /
    #cputemp: true - useless for a vm :D
    uptime: true
    units: celsius
    refresh: 10000 # optional, in ms

- resources:
    label: NAS
    disk: /data/plex/media

- search:
    provider: custom
    url: https://www.ecosia.org/search?q=
    target: _blank
    suggestionUrl: https://ac.ecosia.org/autocomplete?type=list&q= # Optional
    showSearchSuggestions: true # Optional

- openmeteo:
    label: {{ vault_homepage_location }} # optional
    latitude: {{ vault_homepage_latitude }}
    longitude: {{ vault_homepage_longitude }}
    timezone: Europe/Berlin # optional
    units: metric # or imperial
    cache: 20 # Time in minutes to cache API responses, to stay within limits
    format: # optional, Intl.NumberFormat options
      maximumFractionDigits: 1
