networks:
  default:
  web:
    external: true

services:
  api:
    #container_name: yourSpotifyserver
    image: yooooomi/your_spotify_server
    #ports:
     #- "55555:8080"
    networks:
     - default
     - web
    links:
      - mongo
    depends_on:
      - mongo
    environment:
      - API_ENDPOINT=https://{{ spotify_tracker_api_domain | mandatory }} # This MUST be included as a valid URL in the spotify dashboard (see below)
      - CLIENT_ENDPOINT=https://{{ spotify_tracker_domain | mandatory }}
      - SPOTIFY_PUBLIC={{ spotify_tracker_public | mandatory }} 
      - SPOTIFY_SECRET={{ spotify_tracker_private | mandatory }}
      - CORS=i-want-a-security-vulnerability-and-want-to-allow-all-origins
      - TIMEZONE=Europe/Berlin
      - MONGO_ENDPOINT=mongodb://mongo:27017/your_spotify
    labels:
      - traefik.enable=true
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-api-service.loadbalancer.server.port=8080
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-api.service=${COMPOSE_PROJECT_NAME}-api-service
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-api.rule=Host(`{{ spotify_tracker_api_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-api.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-api.tls=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-api.middlewares=lan-only

  mongo:
    #container_name: mongo
    image: mongo:4.4.8 #recommended version
    networks:
     - default
    #ports:
     #- 27017:27017
    volumes:
      - {{ root }}/db:/data/db
    labels:
      - wud.watch=false # ignore updates in wud

  web:
    #container_name: YourspotifyWeb
    image: yooooomi/your_spotify_client
    networks:
     - default
     - web
    #ports:
      #- "44444:3000"
    environment:
      - API_ENDPOINT=https://{{ spotify_tracker_api_domain | mandatory }}
    labels:
      - traefik.enable=true
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-web-service.loadbalancer.server.port=3000
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-web.service=${COMPOSE_PROJECT_NAME}-web-service
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-web.rule=Host(`{{ spotify_tracker_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-web.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-web.tls=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-web.middlewares=lan-only
 