networks:
  default:
  web:
    external: true

services:
  yarnl:
    image: titandrive/yarnl:latest
    container_name: {{ role_name }}
    networks:
      - default
      - web
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB={{ yarnl_db_name }}
      - POSTGRES_USER={{ yarnl_db_user }}
      - POSTGRES_PASSWORD={{ yarnl_db_password | mandatory }}
      - ADMIN_USERNAME={{ yarnl_admin_username }}
      - ADMIN_PASSWORD={{ yarnl_admin_password | mandatory }}
      - TZ={{ yarnl_tz }}
    volumes:
      - {{ root }}/users:/app/users
{% if yarnl_backups_path is defined %}
      - {{ yarnl_backups_path }}:/backups
{% endif %}
    labels:
      - traefik.enable=true
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-service.loadbalancer.server.port=3000
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-lan.rule=Host(`{{ yarnl_domain | mandatory }}`) && HeaderRegexp(`X-Real-Ip`, `(^127\.)|(^10\.)|(^172\.1[6-9]\.)|(^172\.2[0-9]\.)|(^172\.3[0-1]\.)|(^192\.168\.)`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-lan.service=${COMPOSE_PROJECT_NAME}-service
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-lan.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-lan.middlewares=lan-only

      - wud.watch.digest=true

  postgres:
    image: postgres:16-alpine
    container_name: {{ role_name }}-db
    networks:
      - default
    environment:
      - POSTGRES_DB={{ yarnl_db_name }}
      - POSTGRES_USER={{ yarnl_db_user }}
      - POSTGRES_PASSWORD={{ yarnl_db_password | mandatory }}
      - TZ={{ yarnl_tz }}
    volumes:
      - {{ root }}/db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ yarnl_db_user }}"]
      interval: 5s
      timeout: 5s
      retries: 5
    labels:
      - wud.watch=false
