networks:
  web:
    external: true
  grafana:
    external: true

services:

  grafana:
    image: grafana/grafana:latest
    user: 0:1000 # please adjust
    networks:
      - web
      - grafana
    volumes:
      - {{ root }}/grafana:/var/lib/grafana
    environment:
      - GF_SERVER_ROOT_URL=https://{{ grafana_domain | mandatory }}
      - TZ=Europe/Berlin
    #ports:
    #  - 3000:3000
    labels:
      - traefik.enable=true
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-service.loadbalancer.server.port=3000
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ grafana_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.service=${COMPOSE_PROJECT_NAME}-service
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.middlewares=lan-only
