networks:
  web:
    external: true
  grafana:
    external: true

services:

  grafana:
    image: grafana/grafana:latest
    user: 0:1000 # please adjust
    networks:
      - web
      - grafana
    volumes:
      - {{ root }}/grafana:/var/lib/grafana
    environment:
      - GF_SERVER_ROOT_URL=https://{{ grafana_domain | mandatory }}
    #ports:
    #  - 3000:3000
    labels:
      - traefik.enable=true
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-service.loadbalancer.server.port=3000
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ grafana_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.service=${COMPOSE_PROJECT_NAME}-service
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.middlewares=lan-only

  {# loki:
      image: grafana/loki:2.9.9
      volumes:
      - {{ root }}/loki:/etc/loki
      ports:
       - "127.0.0.1:3100:3100"
      user: 0:1000
      command: -config.file=/etc/loki/loki-config.yml

  promtail:
    image: grafana/promtail:latest
    depends_on:
      - loki
    volumes:
      - /var/log:/var/log
      - {{ root }}/promtail:/etc/promtail
      - /data/traefik/logs:/var/log/traefik
    command: -config.file=/etc/promtail/promtail-config.yml #}

