networks:
  default:
  web:
    external: true

services:

  app:
    image: ghost:latest
    #ports:
    #  - 8080:2368
    networks:
      - web
      - default
    environment:
      # see https://ghost.org/docs/config/#configuration-options
      database__client: mysql
      database__connection__host: db
      database__connection__user: root
      database__connection__password: {{ ghost_mysql_pw }}
      database__connection__database: ghost
      url: https://{{ ghost_domain }}
      mail__from: {{ vaultwarden_smtp_user | mandatory }}
      mail__transport: SMTP
      mail__options__host: smtp.strato.de
      mail__options_port: 587
      mail__options_auth_user: {{ vaultwarden_smtp_user | mandatory }}
      mail__options_auth_pass: {{ vaultwarden_smtp_password | mandatory }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/app:/var/lib/ghost/content
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ ghost_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.tls.certresolver=letsencrypt_http
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-app.loadbalancer.server.port=2368

  db:
    image: mariadb:latest
    networks:
      - default
    environment:
      MYSQL_ROOT_PASSWORD: {{ ghost_mysql_pw }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/db:/var/lib/mysql