networks:
  web:
    external: true

services:

  app:
    image: linuxserver/speedtest-tracker:latest
    container_name: speedtest-tracker
    networks:
      - web
    #ports:
      #- 80:80
      #- 443:443
    environment:
      - APP_KEY="{{ speedtest_tracker_appkey | mandatory }}"
      - APP_URL=https://{{ speedtest_tracker_domain | mandatory }}
      - ASSET_URL=https://{{ speedtest_tracker_domain | mandatory }}
      - DB_CONNECTION=sqlite
      - APP_TIMEZONE=Europe/Berlin
      - DISPLAY_TIMEZONE=Europe/Berlin
      - TZ=Europe/Berlin
      - PRUNE_RESULTS_OLDER_THAN=14
      - SPEEDTEST_SCHEDULE="0 */6 * * *"
      - SPEEDTEST_SERVERS="14156,28818,64247"
      - DATETIME_FORMAT="d.m.Y H:i:s"
    volumes:
      - {{ root }}/config:/config
      #- /path/to-custom-ssl-keys:/config/keys
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ speedtest_tracker_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.tls=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.middlewares=lan-only
    healthcheck:
      test: curl -fSs APP_URL/api/healthcheck | jq -r .message || exit 1
      interval: 10s
      retries: 3
      start_period: 30s
      timeout: 10s
