networks:
  web:
    external: true

services:
  app:
    image: ghcr.io/techno-tim/littlelink-server:latest
    container_name: littlelink
    networks:
      - web
    hostname: littlelink
    environment:
      - META_TITLE=Nils Lorenzen
      - META_DESCRIPTION=Network-Administrator, Homelab-Enthusiast and motorcycle rider :)
      - META_AUTHOR=Nils Lorenzen
      - META_KEYWORDS=Ansible, IT-Security, Windows, Firewall, Administrator, PowerShell, Hyper-V, Sophos, Linux
      - LANG=en
      - META_INDEX_STATUS=all
      - OG_SITE_NAME=Nils Lorenzen
      - OG_TITLE=Nils Lorenzen
      - OG_DESCRIPTION=Profile Page of Nils Lorenzen
      - OG_URL=https://{{ littlelink_domain }}
      - OG_IMAGE=https://n1ls.wtf/images/profile-img.webp
      - OG_IMAGE_WIDTH=500
      - OG_IMAGE_HEIGHT=500
      - THEME=Dark
      - FAVICON_URL=https://n1ls.wtf/images/profile-img.webp
      - AVATAR_URL=https://n1ls.wtf/images/profile-img.webp
      - AVATAR_2X_URL=https://n1ls.wtf/images/profile-img.webp
      - AVATAR_ALT=Nils Lorenzen Profile Pic
      - NAME=Nils Lorenzen
      - BIO=Network-Administrator, Homelab-Enthusiast, Hobbyist Photographer and Motorcycle Rider :)
      # use ENV variable names for order, listed buttons will be boosted to the top
      - BUTTON_ORDER=GITHUB,INSTAGRAM,LINKED_IN,XING
      # you can render an unlimited amount of custom buttons by adding 
      # the CUSTOM_BUTTON_* variables and by using a comma as a separator.
      - GITHUB=https://github.com/NilsLorenzen
      - INSTAGRAM=https://www.instagram.com/n1ls.lo/
      - LINKED_IN=https://www.linkedin.com/in/nils-lorenzen-a9b35a29a/
      - XING=https://www.xing.com/profile/Nils_Lorenzen9/
      - CUSTOM_BUTTON_TEXT=Shutterstock,E-Mail
      - CUSTOM_BUTTON_URL=https://www.shutterstock.com/de/g/Nils+Lorenzen?rid=412204147,mailto:contact@nilslorenzen.de
      - CUSTOM_BUTTON_COLOR=#a51e1e,#000000
      - CUSTOM_BUTTON_TEXT_COLOR=#ffffff,#ffffff
      - CUSTOM_BUTTON_ALT_TEXT=My selfmade picture Library,Contact me via email
      - CUSTOM_BUTTON_NAME=SUTTERSTOCK,MAIL
      - CUSTOM_BUTTON_ICON=fa-solid fa-camera,fa-solid fa-envelope
      - FOOTER=Nils Lorenzen © 2024
    labels:
      - traefik.enable=true
      #- traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ littlelink_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ littlelink_domain | mandatory }}`) && !(PathPrefix(`/sl/`))
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app2.rule=Host(`nilslorenzen.de`) && !(PathPrefix(`/sl/`))
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app2.entrypoints=https


# Vorlage https://github.com/techno-tim/littlelink-server/blob/master/docker-compose.yml