networks:
  web:
    external: true

services:
  app:
    image: fmartinou/whats-up-docker:latest
    container_name: whatsupdocker
    networks:
      - web
    volumes:
      - /etc/localtime:/etc/localtime:ro 
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /data/shishacounter-beta/docker-compose.yml:/sc/docker-compose.yml
    #ports:
    #  - 3000:3000
    environment:
      - WUD_WATCHER_{{ whatsupdocker_watcher_name }}_SOCKET=/var/run/docker.sock
      - WUD_REGISTRY_GHCR_USERNAME={{ ghcr.username | mandatory }}
      - WUD_REGISTRY_GHCR_TOKEN={{ ghcr.password | mandatory }}
      {{ whatsupdocker_extra_envs }}
    labels:
      - traefik.enable=true
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-service.loadbalancer.server.port=3000
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ whatsupdocker_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.middlewares={{ whatsupdocker_traefik_middleware }}
    healthcheck:
      test: wget --no-verbose --tries=1 --no-check-certificate --spider http://localhost:3000
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s