- name: copy systemd unit
  ansible.builtin.template:
    src: prometheus.service.j2
    dest: /etc/systemd/system/prometheus.service
    owner: root
    group: root
    mode: "644"
  notify: restart prometheus.service

- name: create /data/prometheus dir
  ansible.builtin.file:
    path: "{{ root }}"
    state: directory

- name: Copy templates
  ansible.builtin.import_tasks: copy-all-templates.yml
  vars:
    directory: ../templates
    notify_handlers: restart {{ role_name }}.service

- name: start prometheus.service
  ansible.builtin.systemd:
    state: started
    daemon_reload: true
    enabled: true
    name: prometheus.service
  register: prometheus_started
