networks:
  default:

services:
  server:
    image: itzg/minecraft-server:latest
    container_name: minecraft_java
    networks:
      - default
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/data:/data
    stdin_open: true   ## needed so you can attach to the mc-server console via docker attach
    tty: true  
    ports:
      - 25565:25565
    environment:
      EULA: "TRUE"
      TYPE: SPIGOT
      VERSION: "1.20.1"
      ICON: "{{ minecraft_java_icon }}"
      MOTD: "{{ minecraft_java_motd }}"
      DIFFICULTY: "{{ minecraft_java_difficulty }}"
      MAX_PLAYERS: "{{ minecraft_java_players }}"
      PVP: "true"
      ANNOUNCE_PLAYER_ACHIEVEMENTS: "true"
      ENABLE_COMMAND_BLOCK: "true"
      VIEW_DISTANCE: "{{ minecraft_java_viewdistance }}"
      MEMORY: "{{ minecraft_java_memory }}"

  # backup:
  #   container_name: minecraft_java_backup
  #   image: itzg/mc-backup
  #   environment:
  #     BACKUP_INTERVAL: "24h"
  #     RCON_HOST: server
  #     PRUNE_BACKUPS_DAYS: 7
  #   volumes:
  #     - /etc/localtime:/etc/localtime:ro # mount the same volume used by server, but read-only
  #     - {{ root }}/data:/data:ro
  #     - ./backups:/backups  # use a host attached directory so that it in turn can be backed up to external/cloud storage