networks:
  default:
  web:
    external: true

services:
  spotizerr:
    image: cooldockerizer93/spotizerr:1.3.1
    container_name: spotizerr-app
    networks:
     - default
     - web
    #ports:
      #- 7171:7171
    volumes:
      - {{ root }}/creds:/app/creds
      - {{ root }}/config:/app/config
      - /data/plex/media/MusikNeu:/app/downloads  # <-- Change this for your music library dir
      - {{ root }}/logs:/app/logs
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=0022 # Optional: Sets the default file permissions for newly created files within the container.
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
      - REDIS_URL=redis://redis:6379/0
      - REDIS_BACKEND=redis://redis:6379/0
      - EXPLICIT_FILTER=false # Set to true to filter out explicit content
    depends_on:
      - redis
    labels:
      - traefik.enable=true
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-app-service.loadbalancer.server.port=7171
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.service=${COMPOSE_PROJECT_NAME}-app-service
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`{{ spotizerr_domain | mandatory }}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.tls=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.middlewares=lan-only

  redis:
    image: redis:alpine
    container_name: spotizerr-redis
    networks:
     - default
    volumes:
      - {{ root }}/redis-data:/data
    command: redis-server --appendonly yes
