services:
  app:
    image: homebridge/homebridge:2023-11-28
    network_mode: host
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/homebridge-data:/homebridge
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"