networks:
  default:
  web:
    external: true

services:
  mailserver:
    image: ghcr.io/docker-mailserver/docker-mailserver:latest
    container_name: mailserver
    hostname: {{ mx_domain | mandatory }} #mx-record
    env_file: mailserver.env
    networks:
      - default
    ports:
      - "25:25"    # SMTP  (explicit TLS => STARTTLS, Authentication is DISABLED => use port 465/587 instead)
      #- "143:143"  # IMAP4 (explicit TLS => STARTTLS)
      - "465:465"  # ESMTP (implicit TLS)
      - "587:587"  # ESMTP (explicit TLS => STARTTLS)
      - "993:993"  # IMAP4 (implicit TLS)
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/mail-data/:/var/mail/
      - {{ root }}/mail-state/:/var/mail-state/
      - {{ root }}/dms/mail-logs/:/var/log/mail/
      - {{ root }}/dms/config/:/tmp/docker-mailserver/
      - /data/traefik/conf/acme/le.json:/etc/letsencrypt/acme.json:ro  
    #restart: always
    stop_grace_period: 1m
    cap_add:
      - NET_ADMIN # needed for fail2ban=1
    healthcheck:
      test: "ss --listening --tcp | grep -P 'LISTEN.+:smtp' || exit 1"
      timeout: 3s
      retries: 0
  cert-companion:
    image: nginx:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mailserver.rule=Host(`{{ mx_domain | mandatory }}`)"   
      - "traefik.http.routers.mailserver.entrypoints=http"
      - "traefik.http.routers.mailserver.entrypoints=https"
      - "traefik.http.routers.mailserver.tls.certresolver=letsencrypt_http"  
    networks:
      - web
    #restart: always