networks:
  web:
    external: true

services:
  app:
    image: felixbuenemann/traefik:v3.6.1
    networks:
      - web
    ports:
      - 80:80
      - 443:443
    volumes:
      - /etc/localtime:/etc/localtime:ro
      #- /var/run/docker.sock:/var/run/docker.sock # Docker Zugriff -> wird in socket-proxy bereitgestellt
      - {{ root }}/conf/traefik.yml:/etc/traefik/traefik.yml:ro #statische Konfigurationsdatei
      - {{ root }}/conf/acme/:/etc/traefik/acme/ # Zertifikate
      - {{ root }}/conf/dynamic/:/etc/traefik/dynamic/:ro # dynamische Konfigurationsdateien
      - {{ root }}/logs:/logs
    #privileged: true # for docker socket
    container_name: traefik
    environment:
      - LEGO_DISABLE_CNAME_SUPPORT=true
    labels:
      - traefik.enable=true

      - traefik.http.middlewares.basic-auth-nils-only.basicauth.users={{ traefik.nils.username }}:{{ traefik.nils.hash }}
      - traefik.http.middlewares.basic-auth-all.basicauth.users={{ traefik.nils.username }}:{{ traefik.nils.hash }},{{ traefik.other.username }}:{{ traefik.other.hash }}

      - "traefik.http.middlewares.crowdsec.plugin.crowdsec-bouncer-traefik-plugin.crowdseclapikey={{ vault_crowdsec_traefik_key }}"
      - "traefik.http.middlewares.crowdsec.plugin.crowdsec-bouncer-traefik-plugin.crowdseclapischeme=http"
      - "traefik.http.middlewares.crowdsec.plugin.crowdsec-bouncer-traefik-plugin.enabled=true"
      - "traefik.http.middlewares.crowdsec.plugin.crowdsec-bouncer-traefik-plugin.crowdseclapihost=crowdsec:8080"

      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-dashboard.entrypoints=https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-dashboard.rule=Host(`{{ traefik_domain }}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-dashboard.service=api@internal
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-dashboard.tls.certresolver=letsencrypt_http
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-dashboard.tls.domains[0].main={{ traefik_domain }}
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-dashboard.middlewares=crowdsec,basic-auth-nils-only
    {# healthcheck:
      test: traefik healthcheck #}